:root {
  --primery-color: #4d5ae5;
  --headings-color: #2e2f42;
  --bodytext-color: #434455;
  --primery-white-color: #ffff;
}
body {
  color: var(--bodytext-color);
  background-color: var(--primery-white-color);

  font-family: "Roboto", sans-serif;
}
.mark {
  list-style: none;
  margin: 0;
}
.link {
  text-decoration: none;
  margin: 0;
}
h1, h2, h3, p {
  margin: 0;
}
ul {
  padding-left: 0;
}
img {
  display: block;
}
.hidden {
  display: none;
}
.header .logo {
  color: var(--headings-color);

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-color {
  color: var(--primery-color);
}

.header {
  border-bottom: 0.5px solid var(--headings-color)
}

/* Navigation style */
.main-nav {
  display: flex;
}
.main-nav .item + .item {
  margin-left: 40px;
}
.main-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-nav {
  display: flex;
  margin-left: 77px;
}
.site-nav .link {
  color: var(--headings-color);

  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.site-nav .link:hover,
.site-nav a:focus {
  color: var(--bodytext-color);
}
.site-nav .link:active {
  color: var(--primery-color);
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .link {
  color: var(--bodytext-color);
  display: flex;

  letter-spacing: 0.02em;
  line-height: 1.5;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--primery-color);
}

/* Hero */
.hero {
  background: var(--headings-color);

  padding-top: 192px;
  padding-bottom: 192px;
  text-align: center;
}
.hero-title {
  color: var(--primery-white-color);
  width: 492px;
  margin-left: auto;
  margin-right: auto;
  
  font-size: 56px;
  font-weight: 500;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

/* Button */
.btn-primery {
  color: var(--primery-white-color);
  background: var(--primery-color);
  padding: 16px 32px;
  margin-top: 48px;
  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.04em;

  cursor: pointer;
}
.btn-secondary {
  color: var(--primery-color);
  background: #e7e9fc;
  padding: 8px 16px;
  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
}
.btn-primery:hover,
.btn-primery:focus {
  background: var(--primery-color);
}
.btn-primery:active {
  background: #404bbf;
}
.btn-secondary:active {
  color: var(--primery-white-color);
  background: #404bbf;
}

/* Section style */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-not-padding {
  padding-top: 120px;
  padding-bottom: 0;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
  .section-title {
  color: var(--headings-color);

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

/* Features style */
.features-list .title {
  color: var(--headings-color);
  width: 264px;

  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.features-list {
  display: flex;


}
.features-list .item {
    width: 264px;
}
.features-list .item + .item {
    margin-left: 24px;
}

/* Our Work */
.work-list {
  display: flex;
  margin-top: 72px;
}
.work-list .item + .item {
  margin-left: 24px;
}

/* Our employees */
.employees-list {
  display: flex;
  margin-top: 72px;
  text-align: center;
}
.employees-list .item + .item {
  margin-left: 24px;
}
.employees-list .title {
  color: var(--headings-color);
  
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.box {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Projects style */
.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list .item {
  width: calc((100% - 48px)/3);
  margin-right: 24px;
  margin-bottom: 48px;
}
.projects-list .item:nth-child(3n) {
  margin-right: 0;
}
.projects-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects-list .title {
  color: var(--headings-color);

  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.project-list-box {
  padding: 32px 16px;
  border: 0.5px solid var(--headings-color)
}

/* Features, Employees and Projects style */
.features-list .text,
.employees-list .text,
.projects-list .text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-top: 8px;
}

/* Footer */
.footer .logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer {
  background: var(--headings-color);

}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer .text {
  color: #e7e9fc;
  width: 264px;
  line-height: 1.5;

  margin-top: 16px;
}

/* Позиціонування елементів */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;

}

/* Portfolio Filter */
.filter-list {
  display: flex;
  justify-content: center;
  
  padding-bottom: 72px;
}
.filter-list .item + .item {
  margin-left: 24px;
}